.logo{
    margin-right: 93px;
    font-family: var(--secondary-font);
    @include fond ($fw, 26px, 1.19);
    letter-spacing: 0.03em;

    color: #000000;
}

.logo-part{
    color: var(--accent-color);
}

.logo-footer{ 
    color: var(--primary-bg-color);
}

.logo-retreat{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
}